<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPuppyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56556/PuppyService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPuppyService" contract="ServiceReference.IPuppyService"
                name="BasicHttpBinding_IPuppyService" />
        </client>
    </system.serviceModel>
</configuration>