@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Harrisburg University - ISEM 551-90</h3>

<address>
    <strong>Haoyu Feng:</strong>   <a href="mailto:hfeng@my.harrisburgu.edu">Hfeng@my.harrisburgU.edu</a><br />
    <strong>Viknes Balasubramanee:</strong> <a href="mailto:vbalasubramanee@my.harrisburgu.edu">vbalasubramanee@my.harrisburgu.edu</a>
</address>