@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Harrisburg University</h3>

<address>
    <strong>Haoyu Feng:</strong>   <a href="mailto:Support@example.com">Hfeng@my.harrisburgU.edu.</a><br />
    <strong>Vikens:</strong> <a href="mailto:Marketing@example.com">xxxxxxg@example.com</a>
</address>